# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/

# VSCode
.vscode/

# Mac
.DS_Store

# Secrets - ensure no secrets in repo
.env
secrets.yaml

# IDEs
.idea/

# local database
*.db

# copy of .git folder from upstream
.git
